@import 'variables.scss';

.homePresentation {
    @include screen-md-up {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

.title {
    font-weight: bold;
    font-size: 32px;
    margin: 2.5rem 0;
}

.imgContent {
    position: relative;
    margin-bottom: 1.5rem;

    @include screen-md-up {
        grid-column: span 2;
    }
}

.img {
    width: 100%;

    @include screen-md-up {
        object-fit: cover;
        height: 550px;
    }
}

.button {
    @include screen-md-up {
        display: none;
    }
}

.tag {
    position: absolute;
    bottom: 0px;
    background: $white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.2rem 2.5rem;
}

.subtitle {
    margin: 1.5rem 0;
    font-size: 22px;
}

.description {
    color: $gray;
    line-height: 1.5;
}

.recommendations {
    display: flex;
    gap: 2rem;
}

.recommendation {
    flex: 1;
}

.recommendationImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    @include screen-md-up {
        max-width: 400px;
        justify-self: end;
        text-align: end;
    }
}

.infos {
    color: $gray;
    font-size: 22px;
    font-weight: normal;
}
