@import 'variables.scss';

.homeProducts {
    margin-bottom: 30vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include screen-md-up {
        margin-bottom: 3rem;
    }
}

.optionButton {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: $light-gray;

    @include screen-md-up {
        margin: 0 10px;
        font-size: 28px;
    }
}

.optionButton.optionButtonSm {
    font-size: 18px;
}

.optionSelected {
    color: $primary-color;
}

.products {
    display: grid;
    width: 100%;
    grid-gap: 40px;
    grid-column: span 2;

    @include screen-sm-up {
        grid-column: initial;
        grid-template-columns: repeat(2, 1fr);
    }

    @include screen-md-up {
        grid-template-columns: repeat(4, 1fr);
    }

    @include screen-xl-up {
        grid-template-columns: repeat(6, 1fr);
    }
}

.filter {
    @include screen-md-up {
        display: none;
    }
}

.filterDesk {
    display: none;

    @include screen-md-up {
        display: block;
    }
}
