@import 'variables.scss';

@font-face {
    font-family: 'Archivo';
    src: url('static/fonts/Archivo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo';
    font-weight: bold;
    src: url('static/fonts/Archivo-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Archivo', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    font-family: 'Archivo', 'Helvetica Neue', sans-serif;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
