@import 'variables.scss';

.nav {
    border-bottom: solid 4px #e5e5e5;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include screen-md-up {
        margin: 0 3rem;
    }
}

.bejamas {
    width: 120px;
    margin-top: 4px;
}

.marketCar {
    width: 35px;
}

.cartArea {
    position: relative;
}

.cartCount {
    position: absolute;
    right: -10px;
    bottom: -10px;
    color: white;
    background: black;
    padding: 0 5px;
    font-weight: bold;
}

.bottomSheet {
    padding: 1rem;
}

.divider {
    border-bottom: solid 3px $lg;
    margin: 1.5rem 0;
}

.products {
    display: flex;
    flex-direction: column;
}

.product {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include screen-md-up {
        margin: 1rem 4rem;
    }
}

.name {
    font-size: 26px;
    font-weight: bold;
}

.price {
    color: $light-gray;
}

.infos {
    font-size: 22px;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
